 {% if not history %}
	{% set history = __SELF__.loadHistory() %}
 {% endif %}
 
 <table class="table table-striped">
 	<thead>
 		<tr>
 			<th> {{'Дата'|_}} </th>
 			<th> {{'Номер операции'|_}} </th>
 			<th> {{'Заголовок'|_}} </th>
 			<th> {{'Сумма'|_}} </th>
 		</tr>
 	</thead>

 	<tbody>
	 	{% for item in history %}
			<tr>
				<td> {{item.created_at|date('H:i d/m/y')}} </td>
				<td> {{item.id}} </td>
				<td> {{item.message}} </td>
				<td> {{item.amount}} </td>
			</tr>
	 	{% else %}
			<tr>
				<td colspan="4" class="text-center"> {{'Нет данных'|_}} </td>
			</tr>
	 	{% endfor %}
 	</tbody>

 </table>
 

{% if history.lastPage > 1 %}
<div class="text-center">
    <ul class="pagination">
        {% if history.currentPage > 1 %}
            <li><a href="#" data-request="onLoadHistory" data-request-update="'{{__SELF__}}::balance-history': '#historyTableWrapper'" data-request-data="page: {{history.currentPage-1}}">&larr; Prev</a></li>
        {% endif %}
 
        {% for page in 1..history.lastPage %}
            <li class="{{ history.currentPage == page ? 'active' : null }}">
                <a href="#" data-request="onLoadHistory" data-request-update="'{{__SELF__}}::balance-history': '#historyTableWrapper'" data-request-data="page: {{page}}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if history.lastPage > history.currentPage %}
            <li><a href="#" data-request="onLoadHistory" data-request-update="'{{__SELF__}}::balance-history': '#historyTableWrapper'" data-request-data="page: {{history.currentPage+1}}">Next &rarr;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}




{% put styles %}
 <style>
 .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
 	font-size: 13px;
 }
 </style>
 {% endput %}