<div class="block-item">
    <div class="block-item-container clearfix">
        <a href="{{post.url}}" class="block-item-image">
            <img src="{{ post.images[0].path|resize(358, 268, {mode: 'crop'}) }}" class="img-responsive" alt="">
        </a>
        <div class="block-item-content">
            <h3 class="block-item-title">
                <a href="{{post.url}}"> {{post.title}} </a>
            </h3>
            
            <ul class="breadcrumbs">
                {% for cat in post.category.getParentsAndSelf %}
                    <li> {{cat.name}} </li>
                {% endfor %}
            </ul>
            
            <div class="block-item-address">
                {{ post.location.getParentsAndSelf.lists('name')|join(', ') }} &nbsp;
                {{ post.created_at|date('j F, H:i') }}
            </div>

            <div class="clearfix">
                <div class="block-item-price"> {{post.amount}} сум</div>
                <a href="javascript:void()" class="favorit-btn {{post.isFav()}}" 
                    data-request="onAddToList"
                    data-request-flash
                    data-request-success="$(this).toggleClass('active')"
                    data-request-data="post_id: {{post.id}}">
                    <i class="material-icons">star</i>
                </a>
            </div>
        </div>
    </div>

    <div class="post-controls">
        <span class="btn"> <span class="glyphicon glyphicon-eye-open"></span> Просмотры: {{post.views}} </span> 
            <span class="text-muted">|</span>

        <a href="{{post.editPage}}" 
            class="btn btn-link"> <span class="glyphicon glyphicon-pencil"></span> {{'редактировать'|_}} </a> 
            <span class="text-muted">|</span>
        
        {% if post.published %}
            <a href="#" class="btn btn-link"> <span class="glyphicon glyphicon-remove"></span> {{'деактивировать'|_}} </a>
        {% else %}
            <a href="#" class="btn btn-link"> <span class="glyphicon glyphicon-ok"></span> {{'активировать'|_}} </a>
        {% endif %}

        <a href="{{post.advertisingPage}}" class="btn btn-danger"> <span class="glyphicon glyphicon-flash"></span> {{'рекламировать'|_}} </a>
    </div>
    

</div>