{% set categories = __SELF__.loadClosestCategories() %}

<div class="category-header">
    <div class="phs pts clearfix">
        <div class="pull-left-sm">
            <ul class="breadcrumbs">
                <li class="mbs"><a href="/"> {{'Все объявления'|_}} </a></li>
                
                {% if category.parent %}
                    <li class="mbs"> <a href="{{category.parent.url}}">{{category.parent.name}}</a> </li>
                {% endif %}

                {% if category %}
                    <li class="mbs"> {{category.name}} </li>
                {% endif %}
            </ul>
        </div>
        <div class="pull-right-sm mbs buttons-view hidden-xs hidden-sm">
            {{'Вид'|_}}:
            <a href="#!" data-action="0" 
                data-request="onViewType" 
                data-request-data="type: 'list'" class="active">{{'Список'|_}}</a> 
                
            <a href="#!" 
                data-action="1" 
                data-request-data="type: 'block'"
                data-request="onViewType">{{'Галерея'|_}}</a>
        </div>
    </div>
    <hr class="no-margin">
    <div class="phs pts pbm category-childs word-spacing">
        {% for cat in categories %}
            <a href="{{cat.url}}"> {{cat.name}} <b>{{cat.posts_count}}</b></a>
        {% endfor %}
    </div>
</div>


{% put scripts %}
<script>
    $('.category-header .buttons-view a').click(function() {
        $('.category-header .buttons-view a').removeClass('active');    
        $(this).addClass('active');
        
        if ($(this).data('action')) {
            $('#listPosts').removeClass('blocks-list');    
        } else {
            $('#listPosts').addClass('blocks-list');
        }
    });
</script>
{% endput %}