

{% if property.filter_type == 'between' %}
		
    <div class="form-group multi-input">
        <input type="text" name="properties[{{ property.id }}][0]" placeholder="{{property.label}} от" class="form-control form-inline">
        <input type="text" name="properties[{{ property.id }}][1]" placeholder="{{property.label}} до" class="form-control form-inline">
    </div>

{% elseif property.filter_type == 'select' %}

	<div class="form-group">
		<select name="properties[{{ property.id }}]" class="form-control">
			<option value="">{{property.label}}</option>
			
			{% for value in property.values %}
				<option value="{{ value.value }}">{{value.label}}</option>
			{% endfor %}
		</select>
	</div>

{% endif %}

