{% set locations = __SELF__.locations %}

<form class="header-search-form mbb" action="{{'list'|page}}">
    
    <div class="row">
        <div class="col-md-3 mbs">
            <select name="location" class="form-control header-search-element">
                <option value=""> {{'Весь Узбекистан'|_}} </option>
                {% for location in locations %}
                <optgroup label="{{location.name}}">
                    {% for locationChil in location.children %}
                        <option value="{{locationChil.id}}"> {{locationChil.name}} </option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-7 mbs">
            <input type="text" name="query" class="form-control header-search-element" placeholder="{{'Что ищем?'|_}}">
        </div>
        <div class="col-md-2 mbs">
            <button type="submit" class="btn btn-default btn-block header-search-element">
                <i class="material-icons valign-middle">search</i>
                <b> {{'Искать'|_}} </b>
            </button>
        </div>
    </div>

</form>