{% for prop in properties %}
    
	<div class="form-inline" style="display: inline-block; margin-left: 30px">

	{% if property.filter_type == 'between' %}
		
		    <div class="form-group">
		        <input type="text" name="properties[{{ property.id }}][0]" placeholder="Цена от (сум)" class="form-control form-inline">
		    </div>
		    <span class="hidden-xs">-</span>
		    <div class="form-group">
		        <input type="text" name="properties[{{ property.id }}][1]" placeholder="Цена до (сум)" class="form-control form-inline">
		    </div>
		
	{% elseif property.filter_type == 'select' %}

		<div class="form-group">
			<select name="properties[{{ property.id }}]" class="form-control">
					<option value="">{{'Все'|_}}</option>
				{% for value in property.values %}
					<option value="{{ value.value }}">{{value.label}}</option>
				{% endfor %}
			</select>
		</div>

	{% endif %}
	</div>



{% endfor %}