<form action="">

    <div class="content-inner-block">
        <div class="content-inner-description">
            
            <ul class="checkbox-list">

                <li>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox-label">
                            <span class="clearfix">
                                <span class="pull-left">
                                    <span class="checkbox-icon"></span>
                                    <span>7 поднятий в верх списка (ежедневно, 7 дней)</span>
                                </span>
                                <span class="pull-right">
                                    <b>8 000 сум</b>
                                </span>
                            </span>
                        </span>
                    </label>
                </li>

                <li>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox-label">
                            <span class="clearfix">
                                <span class="pull-left">
                                    <span class="checkbox-icon"></span>
                                    <span>Топ-обьявление</span>
                                </span>
                                <span class="pull-right">
                                    <b>15 000 сум</b>
                                </span>
                            </span>
                        </span>
                    </label>
                </li>

                <li>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox-label">
                            <span class="clearfix">
                                <span class="pull-left">
                                    <span class="checkbox-icon"></span>
                                    <span>VIP-обьявление на 7 дней</span>
                                </span>
                                <span class="pull-right">
                                    <b>33 000 сум</b>
                                </span>
                            </span>
                        </span>
                    </label>
                </li>

                <li>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox-label">
                            <span class="clearfix">
                                <span class="pull-left">
                                    <span class="checkbox-icon"></span>
                                    <span>Лого в списке обьявлений на 30 дней</span>
                                </span>
                                <span class="pull-right">
                                    <b>2 500 сум</b>
                                </span>
                            </span>
                        </span>
                    </label>
                </li>
                
            </ul>

        </div>
    </div>

    <div class="content-inner-block">
        <div class="content-inner-description">
            <div class="text-center">
                <span class="font-light" style="font-size:22px;">Всего к оплате 8 000 сум</span>
            </div>
        </div>
    </div>

    <div class="content-inner-block">
        <div class="content-inner-description">
            <div class="text-right text-center-xs">
                <div class="word-spacing">
                    <a href="#" class="btn btn-lg btn-link">Предпросмотор</a>
                    <div class="mbs visible-xs"></div>
                    <button class="btn btn-lg btn-danger">
                        <span class="mhm">Оплатить</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>