{% set categories = __SELF__.getCategories() %}
{% set locations = __SELF__.getLocations() %}

<form data-request="onCreatePost"
    data-request-files
    data-request-flash />
    <div class="content-inner-block">
        <div class="form-group">
            <label for="postTitle"><small>{{'Заголовок'|_}}<i>*</i></small></label>
            <div class="input-group-lg">
                <input 
                    id="postTitle" type="text" 
                    name="title" class="form-control" 
                    data-text="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
                    placeholder="{{'Заголовок'|_}}">
            </div>
        </div>
                            
        <div class="form-group">
            <label for="postCategoryId"><small>{{'Рубрика'|_}}<i>*</i></small></label>
            <div class="input-group-lg">
                <select name="category_id"
                    data-request="onLoadProperties"
                    data-request-update="'{{__SELF__}}::properties': '#formProperties'"
                    data-track-input="true"
                    id="postCategoryId" class="form-control" 
                    data-text="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." />
                    
                    <option value=""> {{'Выбрать'|_}} </option>
                    
                    {% for category in categories %}
                    <optgroup label="{{category.name}}">
                        {% for categoryChil in category.children %}
                            <option value="{{categoryChil.id}}"> {{categoryChil.name}} </option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div id="formProperties">
            
        </div>
        
        <div class="form-group">
            <label for="postContent"><small> {{'Описание'|_}} <i>*</i></small></label>
            <textarea name="content" id="postContent" rows="7" 
                class="form-control" 
                data-text="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></textarea>
        </div>
        
        <div class="form-group">
            <label for=""><small> {{'Фотографии'|_}} </small></label>
            <div class="five-columns clearfix">
                <div class="five-columns-item">
                    <label class="file-photo">
                        <input type="file" name="images[0]" onchange="readURL(this);">
                    </label>
                </div>
                <div class="five-columns-item">
                    <label class="file-photo">
                        <input type="file" name="images[1]" onchange="readURL(this);">
                    </label>
                </div>
                <div class="five-columns-item">
                    <label class="file-photo">
                        <input type="file" name="images[2]" onchange="readURL(this);">
                    </label>
                </div>
                <div class="five-columns-item">
                    <label class="file-photo">
                        <input type="file" name="images[3]" onchange="readURL(this);">
                    </label>
                </div>
                <div class="five-columns-item">
                    <label class="file-photo">
                        <input type="file" name="images[4]" onchange="readURL(this);">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="content-inner-block">
        <div class="row">
            <div class="col-sm-6">
                
                <div class="form-group">
                    <label for="postLocationId"><small>{{'Город, регион'|_}}<i>*</i></small></label>
                    <div class="input-group-lg">
                        <select name="location_id" 
                            id="postLocationId" class="form-control" 
                            data-text="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." />
                            
                            {% for location in locations %}
                            <optgroup label="{{location.name}}">
                                {% for locationChil in location.children %}
                                    <option value="{{locationChil.id}}"> {{locationChil.name}} </option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="postEmail"><small> {{'Email'|_}} </small></label>
                    <div class="input-group-lg">
                        <input id="postEmail" name="email"
                            type="text" class="form-control" 
                            value="{{user.email}}"
                            data-text="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            placeholder="{{'Email'}}" />
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6">
                
                <div class="form-group">
                    <label for="postContactName"><small> {{'Контактное лицо'|_}} </small></label>
                    <div class="input-group-lg">
                        <input id="postContactName" name="contact_name"
                            type="text" class="form-control" 
                            value="{{user.name}}"
                            data-text="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            placeholder="{{'Контактное лицо'|_}}" />
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="postPhone"><small> {{'Телефон'|_}} </small></label>
                    <div class="input-group-lg">
                        <input id="postPhone" type="text" 
                            class="form-control" name="phone"
                            value="{{user.phone}}"
                            data-text="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
                            placeholder="{{'Телефон'|_}}">
                    </div>
                </div>
        
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="postAmount"><small> {{'Цена'|_}} </small></label>
                    <div class="input-group-lg">
                        <input id="postAmount" name="amount" type="number" class="form-control" placeholder="{{'Цена'|_}}" />
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="input-group-lg">
                    <div class="checkbox">
                        <label> <input type="checkbox" name="is_contract" value="1"> {{'Договорная'|_}} </label>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="content-inner-block">
        <div class="text-right text-center-xs">
            <div class="word-spacing">
                <a href="#" class="btn btn-lg btn-link"> {{'Предпросмотор'|_}} </a>
                <div class="mbs visible-xs"></div>
                <button class="btn btn-lg btn-danger" data-attach-loading>
                    <i class="material-icons valign-middle">add_circle_outline</i> 
                    <b class="valign-middle"> {{'Подать объявление'|_}} </b>
                </button>
            </div>
        </div>
    </div>

</form>


{% put styles %}
<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            var file = $(input);
            file.parent().addClass('has-file');
            file.parent().css("background-image", `url("${e.target.result}")`);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
</script>
{% endput %}